In [183]:
import pandas as pd
import numpy as np

In [184]:
def answer_one():
    energy = pd.read_excel('Energy Indicators.xls')
    energy = energy[17:244]
    energy.columns = ['nameOne', 'nameTwo','Country', 'Energy Supply','Energy Supply per Capita', '% Renewable']
    energy.drop(columns=['nameOne', 'nameTwo'], inplace=True)
    energy['Energy Supply'] = energy['Energy Supply'] * 1000000
    energy = energy.replace({'Country':{'Republic of Korea': 'South Korea', 'United States of America': 'United States', 
                            'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom', 
                            'China, Hong Kong Special Administrative Region': 'Hong Kong'}})
    energy.replace(to_replace=r'\.{2,}', value=np.nan, regex=True, inplace=True)
    def remove_numbers_and_parenthesis(country):
        try:
            clean_name = ''
            for char in country:
                if char.isalpha() or char.isspace():
                    clean_name += char
            return clean_name.rstrip()
        except:
            return np.nan
    energy['Country'] = energy['Country'].apply(remove_numbers_and_parenthesis)
    
    name_csv = 'world_bank.csv' 
    GDP = pd.read_csv(name_csv, skiprows = 4)
    GDP.rename(columns={'Country Name': 'Country'}, inplace=True)
    GDP.drop(columns=['2016', '2017', '2018', '2019', '2020', '2021', '2022', 'Unnamed: 67'], inplace=True)
    replace_country = {'Korea, Rep.':'South Korea', 'Iran, Islamic Rep.':'Iran', 'Hong Kong SAR, China':'Hong Kong'}
    GDP.replace({'Country': replace_country}, inplace=True)
    
    ScimEn = pd.read_excel('scimagojr.xlsx')
    data_f = energy.merge(GDP, on="Country", how="inner")
    dataframes = data_f.merge(ScimEn, on="Country", how="inner").set_index('Country')
    dataframes.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961',
                                '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
                                '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', 
                                '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985',
                                '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
                                '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', 
                                '2002', '2003', '2004', '2005', 'Region'], inplace=True)
    dataframes = dataframes[['Rank', 'Documents', 'Citable documents','Citations', 'Self-citations', 
                                  'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita',
                                  '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
                                  '2014', '2015']]
    
    return dataframes.sort_values(by='Rank').iloc[:15]

In [185]:
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,273437,272374,2336764,1615239,8.55,245,1.271910e+11,93.0,19.754910,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551545e+12,8.532186e+12,9.570471e+12,1.047562e+13,1.106157e+13
India,3,55082,53775,463165,162944,8.41,181,3.319500e+10,26.0,14.969080,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856721e+12,2.039126e+12,2.103588e+12
Japan,4,50523,50065,488062,119930,9.66,193,1.898400e+10,149.0,10.232820,4.601663e+12,4.579750e+12,5.106679e+12,5.289494e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
Germany,6,38739,38013,433148,95145,11.18,196,1.326100e+10,165.0,17.901530,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
Russian Federation,7,36735,36560,115938,54993,3.16,90,3.070900e+10,214.0,17.288680,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Canada,8,33472,32863,568080,100953,16.97,227,1.043100e+10,296.0,61.945430,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,27983,26940,352993,87828,12.61,166,6.530000e+09,109.0,33.667230,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12
South Korea,10,27655,27445,328488,61531,11.88,155,1.100700e+10,221.0,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
France,11,25232,24732,343860,65734,13.63,178,1.059700e+10,166.0,17.020280,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12
Spain,13,21955,21597,352497,64588,16.06,176,4.923000e+09,106.0,37.968590,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324751e+12,1.355580e+12,1.371821e+12,1.196157e+12
Brazil,14,21524,21236,183915,45172,8.54,127,1.214900e+10,59.0,69.648030,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12
Australia,15,20614,20147,314307,51583,15.25,176,5.386000e+09,231.0,11.810810,7.479074e+11,8.544273e+11,1.055686e+12,9.286298e+11,1.148570e+12,1.398456e+12,1.546953e+12,1.576330e+12,1.467590e+12,1.350580e+12
Norway,18,10862,10731,123291,24525,11.35,125,1.388000e+09,273.0,97.635580,3.469134e+11,4.026456e+11,4.649176e+11,3.879743e+11,4.310521e+11,5.013605e+11,5.127773e+11,5.260145e+11,5.017365e+11,3.881595e+11
Netherlands,19,10853,10590,153253,19912,14.12,142,3.199000e+09,190.0,6.324659,7.339553e+11,8.485589e+11,9.518700e+11,8.715186e+11,8.473809e+11,9.052706e+11,8.389233e+11,8.771728e+11,8.921680e+11,7.655728e+11
Malaysia,20,10522,10200,129455,30041,12.30,127,3.417000e+09,116.0,7.754589,1.626923e+11,1.935495e+11,2.308116e+11,2.022575e+11,2.550176e+11,2.979517e+11,3.144431e+11,3.232763e+11,3.380661e+11,3.013548e+11

In [186]:
def answer_two():
    Top15 = answer_one()
    Top15 = Top15.iloc[:, 10:20]
    avgGDP = pd.Series()
    avgGDP = Top15.mean(axis = 1).sort_values(ascending = False)
    return avgGDP

In [187]:
answer_two()

Country
China                 6.927707e+12
Japan                 5.239642e+12
Germany               3.523342e+12
France                2.691337e+12
Italy                 2.142986e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
Spain                 1.400886e+12
South Korea           1.221372e+12
Australia             1.207513e+12
Netherlands           8.532391e+11
Norway                4.463551e+11
Malaysia              2.619420e+11
dtype: float64

In [188]:
def answer_three():
    Top15 = answer_one()
    index_answer_two = answer_two().index[5]
    answer_number = Top15.loc[index_answer_two]['2015'] / Top15.loc[index_answer_two]['2006']
    return answer_number

In [189]:
answer_three()

1.627093298624379

In [190]:
def answer_four():
    Top15 = answer_one()
    total_citations = Top15['Self-citations'] / Top15['Citations']
    total_max = total_citations.sort_values(ascending=False)
    return (total_max.index[0], total_max[0])

In [191]:
answer_four()

('China', 0.6912289816173135)

In [192]:
def answer_five():
    Top15 = answer_one()
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    country = Top15['Population'].sort_values(ascending=False).index[2]
    return country

In [193]:
answer_five()

'Brazil'

In [194]:
def answer_six():
    Top15 = answer_one()
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable documents per capita'] = Top15['Citable documents'] / Top15['Population']
    return Top15[['Citable documents per capita', 'Energy Supply per Capita']].astype(float).corr().iloc[1][0]

In [195]:
answer_six()

0.7273134743559818

In [196]:
def answer_seven():
    ContinentDict = {'China': 'Asia',
                     'United States': 'North America',
                     'Japan': 'Asia',
                     'United Kingdom': 'Europe',
                     'Russian Federation': 'Europe',
                     'Canada': 'North America',
                     'Germany': 'Europe',
                     'India': 'Asia',
                     'France': 'Europe',
                     'South Korea': 'Asia',
                     'Italy': 'Europe',
                     'Spain': 'Europe',
                     'Iran': 'Asia',
                     'Australia': 'Australia',
                     'Brazil': 'South America'}
    Top15 = answer_one()
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Continent'] = Top15.index.map(ContinentDict)
    result_data = (Top15.groupby('Continent')['Population'].agg(size3='size', sum='sum', mean='mean', std='std'))
    return result_data

In [197]:
answer_seven()

               size3           sum          mean           std
Continent
Asia               4  2.821591e+09  7.053977e+08  7.138779e+08
Australia          1  2.331602e+07  2.331602e+07           NaN
Europe             5  3.940587e+08  7.881174e+07  3.813228e+07
North America      1  3.523986e+07  3.523986e+07           NaN
South America      1  2.059153e+08  2.059153e+08           NaN